.blocks {
    margin-left: 1.5rem;
}
.block {
    position: relative;
    
    * {
        text-overflow: ellipsis;
    }
   
    &__inline {
        cursor: pointer !important;
        margin: 5px;
        display: flex;
        align-items: center;
    }
    &__type {
        position: relative;
        font-size: 16px;
        line-height: 16px;
        color: $clr-text-blue-bright;
        // card active
        &--ca {
            color: $clr-block-card-active
        }
        // card dissmissed
        &--cd {
            color: $clr-block-card-dismissed
        }
    }
    
    
    &__name {
        display: block;
        position: relative;
        box-sizing: border-box;
        // so that stroke-blue-sharp doesn't shake the element
        border: 1px solid transparent;
        padding: 1px;
        
        &:active {
            @include stroke-blue-sharp;
        }
        &--active {
            @include stroke-blue-sharp;
            border-radius: 2px;
        }
       
    } 
    &__link {
        text-decoration: none;
        user-select: none;
    }

    // &__children {
    //     display: none;
    //     padding-left: 1rem;
    //     border-left: 1px solid $clr-stroke-grey;
    // }
}

.caret-container {
    position: relative;
}

.caret {
    position: absolute;
    left: -1.5rem;
    top: -12px;
    color: black;
    display: inline-block;
    user-select: none;
    // why the hell it works
    transition: 0.2s;
}

.caret-down {
    transform: rotate(90deg);
    transition: 0.2s;
}   

//TODO
.active {
  display: inline-block;
  margin-left: 1rem;
}

.add-block {
    margin-top: .5rem;
}