.block {
    margin-left: 1rem;
}
.block {
    cursor: pointer;
    position: relative;
    .caret {
        position: absolute;
        top: 0;;
        left: -1.2rem;
        color: black;
        display: inline-block;
        user-select: none;
        // margin-right: 6px;
    }
    
    
    &__name {
        display: block;
        &:active {
            background-color: $clr-text-blue-bright;
            // background-color: $clr-text-blue-bright;
            background-color: $clr-blue-soft;
        }
        &--active {
            // background-color: $clr-text-blue-bright;
            background-color: $clr-blue-soft;
            
            border-radius: 2px;

            a:any-link {
                color: white;
            }
        }
       
    } 
    &__link {
        text-decoration: none;
        &:active {
            color: white;
        }
    }

    &__children {
        display: none;
        margin-left: 1rem;
    }
}

.caret-down {
    transform: rotate(90deg);
}   

.active {
  display: block;
}

.add-block {
    margin-top: .5rem;
}