.blocks {
    margin-left: 1.5rem;
}
.block {
    cursor: pointer;
    position: relative;
    
    * {
        text-overflow: ellipsis;
    }
   
    &__inline {
        margin: 5px;
        display: flex;
        align-items: center;
    }
    &__type {
        font-size: 16px;
        line-height: 16px;
        // position: absolute;
        // left: -1.85rem;
        // top: .2rem;
        color: $clr-text-blue-bright;

        // card active
        &--ca {
            color: $clr-block-card-active
        }
        // card dissmissed
        &--cd {
            color: $clr-block-card-dismissed
        }
    }
    
    
    &__name {
        display: block;
        &:active {
            background-color: $clr-blue-soft;
        }
        &--active {
            background-color: $clr-blue-soft;
            
            border-radius: 2px;

            a:any-link {
                color: white;
            }
        }
       
    } 
    &__link {
        text-decoration: none;
        
        &:active {
            color: white;
        }
    }

    &__children {
        display: none;
        padding-left: 1rem;
        border-left: 1px solid rgb(236, 238, 240);;
    }
}

.caret {
    position: absolute;
    left: -1rem;
    top: 0;
    color: black;
    display: inline-block;
    user-select: none;
    // why the hell it works
    transition: 0.2s;
}

.caret-down {
    transform: rotate(90deg);
    transition: 0.2s;
}   

.active {
  display: inline-block;
  margin-left: 1rem;
}

.add-block {
    margin-top: .5rem;
}