@mixin btn {
    cursor: pointer;
    display: inline-block;
    @include font-text;
}

.btn {
    @include btn;
}

@mixin btn-primary {
    @include btn;
    @include bg-blue-softer;
    border-radius: 3px;
    color: $clr-text-light-primary;
}

.btn-primary {
    @include btn-primary;
}

.btn-text {
    @include btn-primary;
    padding: 7px;
    // display: inline;
}

@mixin btn-circ {
    @include btn-primary;
    display: inline-block;
    border-radius: 1000px;
    text-align: center;
    width: 30px;
    height: 30px; 
    line-height: 30px;
}

.btn-circ {
    @include btn-circ
    // &--sm {
    //     width: 20px !important;
    //     height: 20px !important;
    //     line-height: 20px;
    // }
}

@mixin btn-contrast {
    @include btn;
    background-color: $clr-text-blue-bright;
    padding: 7px;
    border-radius: 2px;
    @include font-code;
    // TODO !important
    color: $clr-text-light-primary !important;
    font-style: italic;
    font-size: 20px;
}

.btn-contrast {
    @include btn-contrast;
    &--sm{
        @include btn-contrast;
        font-size: 16px;
        padding: 1px;
    }
}

.btn-plus-minus {
    font-size: 25px;
}