@mixin btn {
    cursor: pointer;
    display: inline-block;
}

.btn {
    @include btn;
}

@mixin btn-primary {
    @include btn;
    @include bg-blue-softer;
    @include font-text;
    border-radius: 3px;
    color: $clr-text-light-primary;
}

.btn-primary {
    @include btn-primary;
}

.btn-text {
    @include btn-primary;
    padding: 7px;
    // display: inline;
}

.btn-circ {
    @include btn-primary;
    display: inline-block;
    border-radius: 1000px;
    text-align: center;
    width: 30px;
    height: 30px; 
    line-height: 30px;
    // &--sm {
    //     width: 20px !important;
    //     height: 20px !important;
    //     line-height: 20px;
    // }
}

.btn-plus-minus {
    font-size: 25px;
}