.btn {
    cursor: pointer;
    @include bg-blue-softer;
    border-radius: 3px;
    color: $clr-text-light-primary;
    @include font-text;
   
}

.btn-primary {
    padding: 7px;
    display: inline;
}


.btn-circ {
    border-radius: 1000px;
    text-align: center;
    width: 30px;
    height: 30px; 
    line-height: 30px;
    // &--sm {
    //     width: 20px !important;
    //     height: 20px !important;
    //     line-height: 20px;
    // }
}