.cmenu {
    @include bg-light-primary;
    color: $clr-text-soft;
    position: absolute;
    z-index: 100;
    padding: 5px 0;
    
    width: 300px;
    box-shadow: 0 0 2px $clr-text-soft;
    &__shortcut {
        color: $clr-text-softer;
    }
    &__item {
        cursor: pointer;
        padding: 5px 10px;
        display: flex;
        text-align: center;
        justify-content: space-between;
        &:hover {
            @include bg-blue-soft;
            * {
                @include font-light-primary;
            }
            
        }
    }

    &__action {
        
    }

    
}