.editor
    width: 100%
    &__header
        margin: 1rem 0

        display: flex
        width: 100%
        justify-content: space-between
        *
            flex: 1

    &__entries
        width: 100%

    &__actions
        display: flex
        justify-content: space-between
        align-items: center
        margin-right: 3.75rem

    &__save
        margin-top: 2rem

    &__preview-button
        margin-top: 2rem
