.editor {
    margin: 0 2.5rem;
    width: 100%;
    &__header {
        margin: 1rem 0 1rem 3rem;

        display: flex;
        width: 100%;
        justify-content: space-between;
        * {
            flex: 1;
        }
    }

    &__entries {
        width: 100%;
    }
    &__actions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 3.75rem;
    }
}

.card-entry {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    * {
        margin-right: 1rem;
    }
    .text-field {
        @include stroke-blue-sharp; 
        padding: 5px;
        padding-left: 16.5px;
        flex: 5;
        background: white;
        width: 100%;
        border-radius: 10px;
    }
}

// @supports (display: grid) {
//     .editor {
//         &__header {
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             grid-template-rows: repeat(3, 1fr);
//             grid-template-areas: 
//                 "subtitle subtitle"
//                 "title title"
//                 "title title";
            
//         }
//         &__title {
//             grid-area: title;
//             width: 100px;
//         }
//         &__subtitle {
//             grid-area: subtitle;
//             width: 100px;
//         }
//     }
// }