.editor {
    width: 100%;
    &__header {
        margin: 1rem 0;

        display: flex;
        width: 100%;
        justify-content: space-between;
        * {
            flex: 1;
        }
    }

    &__entries {
        width: 100%;
    }
    &__actions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 3.75rem;
    }
}

.card-entry {
    width: 100%;
    margin-bottom: 1rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0.3rem;
    }
    
    &__choose-type {
        display: flex;
        @include bg-primary;
        
        justify-content: space-between;
        align-items: center;
        width: 80px;
        margin-right: 0.2rem;
        border-radius: 20px;
        padding: 2px 10px;

        // *:hover {
        //     @include btn-circ;
        // }
    }

    &__qa {
        
    }

    &__name {
        display: inline-block;
    }
    &__field {
        display: flex;
        align-items: center;
        justify-content: center;
        * {
            margin-right: 1rem;
        }
    }
    &__text-field {
        @include bg-primary; 
        padding: 5px;
        padding-left: 16.5px;
        flex: 5;
        width: 100%;
        border-radius: 10px;
    }
}



// @supports (display: grid) {
//     .editor {
//         &__header {
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             grid-template-rows: repeat(3, 1fr);
//             grid-template-areas: 
//                 "subtitle subtitle"
//                 "title title"
//                 "title title";
            
//         }
//         &__title {
//             grid-area: title;
//             width: 100px;
//         }
//         &__subtitle {
//             grid-area: subtitle;
//             width: 100px;
//         }
//     }
// }