.header
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 2px solid black
  padding: 0 .4rem

  &__link
    display: flex
    align-items: center

  &__img
    margin-right: 0.7rem
    height: 2.5rem

  &__title
    font-size: 1.7rem

  &__options
    cursor: pointer

