.header
    display: flex
    align-items: center
    justify-content: space-between

    &__link
        display: flex
        align-items: center

    &__img
        margin-right: 0.7rem

    &__options
        display: flex
        align-items: center
        cursor: pointer
    
