.repeat-entries {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__show-answer {
        
    }
}

.card-entry-repeat {
    width: 100%;
    display: flex;
    &__text-field {
        @include bg-primary; 
        padding: 5px;
        padding-left: 16.5px;
        flex: 5;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 0.4rem;
    }
}

.card-eval {
    display: flex;
    justify-content: center;
    @include bg-primary; 
    // @include bg-light-primary;
    padding: 2px;
    border-radius: 7px;
    &__option{
        @include font-code;
        margin-right: 10px;
        padding: 10px 5px;
        border-radius: 5px;
        font-size: 18px;
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        cursor: pointer;
    }
}