.repeat-entries {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-eval {
    display: flex;
    justify-content: center;
    @include bg-primary; 
    // @include bg-light-primary;
    padding: 2px;
    border-radius: 7px;
    &__option{
        @include font-code;
        margin-right: 10px;
        padding: 10px 5px;
        border-radius: 5px;
        font-size: 18px;
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        cursor: pointer;
    }
}