.right-sidebar
    // margin: 0 2rem
    width: 100%
    height: 100%

    &__header
        border-bottom: 4px solid $clr-blue-soft

    &__content
        margin: 0 1rem

    overflow: auto
    &::-webkit-scrollbar
        width: 5px
    &::-webkit-scrollbar-thumb
        background-color: $clr-green-grey
        &:active
            background-color: $clr-green-soft