.sidebar
    position: relative
    @include bg-light-primary
    @include stroke-blue-sharp
    padding: 1rem
    overflow: auto
    display: inline-flex
    flex-direction: column

    &::-webkit-scrollbar
        width: 5px
    &::-webkit-scrollbar-thumb
        background-color: $clr-green-grey
        &:active
            background-color: $clr-green-soft
