.sidebar
    position: relative
    height: 100%

    @include bg-light-primary
    @include stroke-blue-sharp
    box-sizing: border-box
    overflow: auto
    display: inline-flex
    flex-direction: column

    &::-webkit-scrollbar
        width: 5px
    &::-webkit-scrollbar-thumb
        background-color: $clr-green-grey
        &:active
            background-color: $clr-green-soft

    &__search
        margin-left: 2.25rem
        width: 70%
        padding: .25rem
        border-radius: 5px
        border: 2px solid $clr-blue-soft
        outline: none

.browser
    padding: .5rem 1rem
    &__options
        display: flex
        *
            font-size: 1.5rem
    &__show-type-f, &__show-type-T
        margin-right: 1rem
        color: $clr-green-soft
        &--hidden
            color: $clr-green-grey