.tree {
    margin-left: 1.5rem;
}
.tree-item {
    position: relative;
    
    * {         
        text-overflow: ellipsis;
    }
   
    &__inline {
        cursor: pointer !important;
        margin: 5px;
        display: flex;
        align-items: center;
        // justify-content: center;
    }
    &__params {
        position: absolute;
        color: red;
        right: 0;
    }
    &__type {
        position: relative;
        font-size: 16px;
        line-height: 16px;
        color: $clr-text-blue-bright;
        // card active
        &--ca {
            color: $clr-block-card-active
        }
        // card dissmissed
        &--cd {
            color: $clr-block-card-dismissed
        }
        &--active {
            font-size: 20px;
        }
    }
    
    
    &__name {
        display: block;
        position: relative;
        box-sizing: border-box;
        // so that stroke-blue-sharp doesn't shake the element
        border: 1px solid transparent;
        padding: 1px;
        // overflow: hidden;
    } 
    &__link {
        text-decoration: none;
        user-select: none;
        &:focus, &--active {
            outline: none;
            font-size: 18px;
            ::before, ::after {
                font-size: 20px;
            }
            ::before {
                content: '[';
            }
            ::after {
                content: ']';
            }
        }

        &--active {
            @include font-blue-sharp;
        }
    }
}

.caret-container {
    position: relative;
}

.caret {
    position: absolute;
    left: -1.5rem;
    top: -12px;
    color: black;
    display: inline-block;
    user-select: none;
    // why the hell it works
    transition: 0.2s;
}

.caret-down {
    transform: rotate(90deg);
    transition: 0.2s;
}   

//TODO
.active {
  display: inline-block;
  margin-left: 1rem;
}

.add-tree-item {
    margin-top: .5rem;
}