body {
    font-size: 16px;
    background-color:  $clr-bg-primary;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: row;
}

.resizer {
    width: 10px;
    height: 100vh;
    background: $clr-blue-soft;
    box-sizing: border-box;
    cursor: col-resize;
    z-index: 1;
}

.hide {
    display: none;
}