body {
    font-size: 16px;
    background-color:  $clr-bg-primary;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: row;
}

.resizer {
    width: 10px;
    height: 100vh;
    background: $clr-blue-soft;
    box-sizing: border-box;
    cursor: col-resize;
    z-index: 1;
}

.title {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: -.3rem;
    margin: 1rem 0;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 500;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

a:any-link {
    text-decoration: none;
    color: $clr-text-soft;
}

.info {
    margin: 0 2rem;
}
