$font-code: 'Source Code Pro', 'Helvetica', monospace;
$font-text: 'Roboto', 'Helvetica';
$font-sidebar: monaco, Consolas, "Lucida Console", monospace;
$font-sans: 'Open Sans', sans-serif;

@mixin font-code {
  font-family: $font-code;
}

@mixin font-sans {
  font-family: $font-sans;
}

@mixin font-text {
  font-family: $font-text;
}

@mixin font-turquoise-dark {
  color: $clr-text-turquoise-dark;
}

@mixin font-turquoise-darker {
  color: $clr-text-turquoise-darker;
}

@mixin font-blue-bright {
  color: $clr-text-blue-bright;
}