$font-code: 'Source Code Pro', 'Helvetica', monospace;
$font-text: 'Roboto', 'Helvetica';
$font-sidebar: monaco, Consolas, "Lucida Console", monospace;

@mixin font-code {
    font-family: $font-code;
}

@mixin font-text {
    font-family: $font-text;
}

@mixin font-turquoise-dark {
    color: $clr-text-turquoise-dark;
}

@mixin font-turquoise-darker {
    color: $clr-text-turquoise-darker;
}

@mixin font-blue-bright {
    color: $clr-text-blue-bright;
}