.deck-info
    margin: 0 2rem
    width: 100%

    &__actions
        display: flex
        flex-direction: column

    &__img-upload
        border: 4px dashed $-c-green-vue

    &__img
        max-width: 97%;